.navbar-light {
  background: none;
}

.home
{
  background-image: url('./img/ldbg.jpg');
  position: fixed;
  background-size: cover;
  overflow-y: visible;
  min-width: 100%;
  min-height: 100vh;
}

.profilepic{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.typingeffect{
  font-size: 30px;
  color: #f2f2f2;
}
.quote{
  background-color: #35cc5d;
  color: #f5faf6;
  padding: 20px 10px;
  text-align: center;
  font-size: 25px;
}

.bg{
  background-color: #35cc5d;
  border-radius: 10px;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  margin-bottom: 25px;
}

.about{
  color: #151515;
  font-weight: bold;
  font-size: 30px;
}

.vector{
  height: 150px;
  align-items: center;
}

.details1{
  font-size: 25px;
}

.skills{
  background-color: #8B4513;
  border-radius: 10px;
  margin: 10px auto 15px auto;
  padding-bottom: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.language{
  border-right: 1px solid whitesmoke;
}
.academics{
  background-color: #EFEBD8;
}

.icon{
  margin: 15px;
  padding-top: 5px; 
  border-radius: 50%; 
  background-color: white;
  color: black;
  height: 40px; 
  width: 40px;
}
.icon:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}

.link{
  text-decoration: none;
  padding: 0 20px;
  font-size: 16px;
  color: #0009;
}

.link:hover{
  text-decoration: none;
}

.cv-button{
  background-color: transparent;
  color: #6c757d;
  border-color: #4d4d4d;
  border-radius: 15px;
}